@import '../../scss/variables';
@import '../../scss/mixins';


.joblist-item {
    background: #fff;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 1px 5px 8px 2px rgba($feature-dark-color, .1);
    margin-bottom: 40px;
    padding: 20px;
    padding-bottom: 5px;
    position: relative;
    

    .logo-container {
        width: 50px;
        height: 50px;
        position: absolute;
        top: -25px;
        left: 25px;


        .logo {
            width: 100%;
        }
    }
}

.featured {
    border-left: 5px solid $primary-color;
}

@include desktopView {
    .joblist-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;


        .job {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 10px;
            .logo-container {
                position: static;
                width: 80px;
                height: 80px;         
            }
        }
    }

    
}