@import '../../scss/variables';
@import '../../scss/mixins';


.header {
  background-color: $primary-color;
  max-height: 156px;
    .mobile-banner {
        width: 100vw;
    }
    .desktop-banner {
      width: 100vw;
      background-repeat: none;
  }
}