@import '../../scss/variables';
@import '../../scss/mixins';

.job-features{
    .job-features-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 15px 0 12px 0;

        .company-name {
            color: $primary-color;
            padding-right: 15px;
            
        }

        .feature {
            background-color: $primary-color;
            border: 0;
            border-radius: 30px;
            color: $bg-color;
            font-size: 10px;
            font-weight: 700;
            margin-right: 10px;
            padding: 6px 7px 3px 7px;
            text-transform: uppercase;

            &:last-child {
                margin-right: 0;
            }
            
            &--dark {
                background-color: $feature-dark-color;
            }
        }
    }

    .job-description {
        border-bottom: 1px solid rgba($dgc, .5);
        .job-details {
            color: rgba($dgc, .7);
            font-size: 13px;
            display: flex;
            flex-direction: row;
            padding: 0;
        }
    
        .job-info {
            margin-right: 20px;
            .info-text {
                position: relative;
                left: -3px;
            }
        }
    
        .job-info:first-child{
            list-style-type: none;
        }
    }
}

@include desktopView {
    .job-features {
        margin-left: 20px;

        .job-features-list{
            margin: 10px 0 10px 0;
        }
    
        .job-description {
            border: none;

            .job-details {
                padding-left: 3px;
            }
        }
    }
}

